.gaming_shop_section {
    padding: 130px 60px;
    background-image: url(./../../img/background-image.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    .gaming_shop_div {
        .gaming_shop_text {
            ul {
                display: flex;
                justify-content: center;
                position: relative;
                align-items: center;

                .text_1 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 100%;
                    text-transform: uppercase;
                    text-align: center;
                    color: #57b8ff;

                }
            }

            h1 {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 64px;
                line-height: 116%;
                text-transform: capitalize;
                text-align: center;
                color: #fff;
            }

            p {
                margin-top: 40px;
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 20px;
                line-height: 160%;
                text-align: center;
                color: rgba(223, 223, 223, 0.8);
            }
        }
    }

    .features_div {
        width: 60%;
        margin: 0 auto;
        display: grid;
        justify-items: center;
        gap: 32px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        margin-top: 64px;

        .div {
            position: relative;
            border-radius: 20px;
            background: rgba(255, 255, 255, 0.15);



            div {
                margin: 35px 35px 35px 80px;

                svg {
                    left: -60px;
                    position: absolute;
                    margin-top: 8px;
                    width: 240px;
                    display: flex;
                }

                h1 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 32px;
                    line-height: 131%;
                    text-transform: capitalize;
                    color: #fff;
                }

                p {

                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 156%;
                    color: rgba(223, 223, 223, 0.8);
                }
            }
        }
    }

}